.search-filter {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}
.search-filter-container {
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
	border: 2px solid #06ccbf;
	border-radius: 0.5rem;
}

.search-filter-item {
	display: flex;
	flex-direction: column;	
	margin: 0.5rem;
}

.search-filter-item label {
	font-size: 1.5rem;
	font-weight: 600;
	color: #1f2937;
	padding: 0.5rem;
}

.search-filter-item select {
	font-size: 1rem;
	font-weight: 700;
	color: #1f2937;
	padding: 0.5rem;
	border: 2px solid #1bd1ce;
	border-radius: 0.5rem;
}

.search-filter-item select:hover {
	border-color: #1cf3d3;
}


.search-filter-item input {
	font-size: 1rem;
	font-weight: 700;
	color: #1f2937;
	padding: 0.5rem;
	border: 2px solid #1bd1ce;
	border-radius: 0.5rem;
}

/* General button styles */
.search-filter-item button {
  position: relative; /* Required for pseudo-element */
  
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: rgb(35, 197, 186);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.search-filter-item button:hover {
	background-color: #13ecda;
}


/* for mobile */
.search-filter-mobile {
	display: flex;
}
