.search-filter {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-bottom: 0;
}
.search-filter-container {
	display: grid;
	grid-template-columns: repeat(4, 0.3fr);
	grid-column-gap: 0.3rem;
	margin: 0 auto;
}

.search-filter-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0.5rem;
}

.search-filter-item label {
	font-size: 1.5rem;
	font-weight: 600;
	color: #1f2937;
	padding: 0.5rem;
}

.search-filter-item select {
	font-size: 1rem;
	font-weight: 700;
	color: #1f2937;
	padding: 0.5rem;
	border: 2px solid #1bd1ce;
	border-radius: 0.5rem;
}

.search-filter-item select:hover {
	border-color: #1cf3d3;
}

.search-filter-item input {
	font-size: 1rem;
	font-weight: 700;
	color: #1f2937;
	padding: 0.5rem;
	border: 2px solid #1bd1ce;
	border-radius: 0.5rem;
}

.search-filter-item button {
	font-size: 1.5rem;
	font-weight: 700;
	color: #1f2937;
	padding: 0.5rem;
	border: 1px solid #e5e7eb;
	border-radius: 0.5rem;
	background-color: #f3f4f6;
	cursor: pointer;
}

.search-filter-item button:hover {
	background-color: #e5e7eb;
}

